language: python
python:
  - 3.6
  - 3.7
before_install:
  - sudo apt-get install gfortran
install:
  - pip install --upgrade pip
  - pip install --no-cache-dir -U -r requirements.txt | cat
script:
  - pytest -v --cov=stheno --cov-report term-missing
after_success:
  - coveralls
