nose
coveralls
numpy
scipy<=1.2.1
autograd
tensorflow
torch
git+git://github.com/wesselb/plum@master#egg=plum
git+git://github.com/wesselb/lab@master#egg=lab
git+git://github.com/wesselb/fdm@master#egg=fdm

